.row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-top: 1px solid var(--color-lightgray);
  align-items: center;
}

.name {
  width: 60%;
}

.category {
  width: 20%;
  font-size: 0.875rem;

  display: flex;
  align-items: center;
}

.tools {
  width: 20%;

  display: flex;
  justify-content: flex-end;
}
