.row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-top: 1px solid var(--color-lightgray);
  align-items: center;
  gap: 1rem;
}

.name {
  width: 68%;
}

.category {
  width: 10%;
  font-size: 0.875rem;

  display: flex;
  align-items: center;
}

.tools {
  width: 10%;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
