.wrapper {
  width: 720px;
  max-width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.title {
  font-size: var(--title-1);
}
