.category {
  padding: 0.375rem 0.5rem;
  border-radius: var(--radius-sm);
}

.principal {
  background-color: var(--color-lightblue);
}

.dessert {
  background-color: var(--color-lightred);
}

.snack {
  background-color: var(--color-lightyellow);
}
