.button {
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-md);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}

.regular {
  border: 1px solid var(--color-gray);
  background-color: transparent;
}

.error {
  border: 1px solid var(--color-red);
  background-color: transparent;
}

.regular:disabled {
  border-color: var(--color-lightgray);
}
