.form {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.row ~ .row {
  margin-top: 1rem;
}

.inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.description {
  width: 79%;
}
